/**************************************/
/************* RESETS ****************/
/************************************/
* {
    overflow-anchor: none !important;
    scroll-snap-stop: normal !important;
    overscroll-behavior: unset !important;
    scroll-behavior: unset !important;
}

html {
    margin: 0;
    padding: 0;
}

/**************************************/
/******* KEY HTML ELEMENTS **********/
/************************************/
body {
    background: white;
    font-family: monospace, sans-serif, arial;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: unbounded, tahoma;
}

header,
footer {
    font-family: tahoma;
}

main {
    min-height: 70vh;
    padding-bottom: 3rem;
}

section {
    clear: both;
}

a {
    color: rgb(17, 102, 62);
}

a:hover {
    color: rgb(201, 19, 98) !important;
}

blockquote {
    margin: 7px 5%;
    font-style: italic;
    border-left: 3px solid #bbb;
    padding: 0 7px;
}

/**************************************/
/***** HEADER & FOOTER NAVBARS *******/
/************************************/
header .navbar {
    min-height: 10vh;
}

header #responsive-navbar-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    padding-top: calc(100vh/5);
    min-height: 100vh;
    width: 100%;
    text-align: center;
}

header #responsive-navbar-nav.show .nav-item,
header #responsive-navbar-nav.show .dropdown-item {
    margin: 5px auto;
}

header .navbar-toggler {
    margin-right: 0.7em;
    border: 1px dotted #111;
    z-index: 2;
}

header .nav-item {
    font-weight: 300;
    font-size: 1.1rem;
    font-variant: small-caps;
}

header .dropdown-menu {
    margin-top: 0 !important;
    padding-top: 0;
    border: 0;
    text-align: center;
    font-size: small;
}

header .dropdown:hover .dropdown-menu {
    display: block !important;
}

.green a {
    color: rgb(17, 102, 62);
}

nav svg {
    font-size: 2.5rem;
}

footer {
    margin-top: 5em;
    padding-top: 0.4em;
    border-top: 1px dotted #fff;
    background: #111;
    color: #ddd;
}

footer a {
    color: #38b87c;
}

footer a:hover {
    color: #fff !important;
}

footer ul {
    margin: 21px auto 0;
    padding-left: 0
}

footer ul li,
.linky ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 7px;
}

.linky ul {
    font-size: 2rem;
}

.lower-footer {
    margin-top: 2em;
    border-top: 1px dotted #fff;
}

.lower-footer ul li {
    text-align: right;
}

.lower-footer a {
    color: #fff;
}

footer p {
    margin-right: 7px;
}

/**************************************/
/********* SITE BRANDING *************/
/************************************/
.welcome {
    overflow-wrap: break-word;
    margin-top: auto;
    margin-bottom: auto;
}

.branding {
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
    min-height: 30vh;
    letter-spacing: 0.3em;
}

.pzntrk {
    font-weight: 900;
    text-transform: uppercase;
}

.branding h1 {
    font-size: 2rem;
}

.branding p {
    font-size: 0.9rem;
    font-weight: 600;
}

.carousel-indicators {
    display: none;
}

/**************************************/
/******** MAIN CONTENT AREA **********/
/************************************/
.top-sm {
    width: 100%;
    text-align: center;
}

.services .optional {
    display: none;
}

.home-blog-index {
    margin: 4em auto;
}

.company-statement {
    margin: 2em auto;
    text-align: center;
}

.home-blog-index .card:hover,
.home-bar .card:hover,
.blog-index .card:hover,
.services-index .card:hover {
    background-color: #e2fbfa;
}

.home-bar {
    margin: 10em auto 5em;
    padding: 10em 0;
}

.blog h2.pzntrk,
.services h2.pzntrk {
    font-size: x-large;
    text-align: center;
}

.blog figcaption,
.services figcaption {
    text-align: center;
    font-size: smaller;
    font-style: italic;
    font-weight: 600;
}

.blog,
.services {
    letter-spacing: -0.04em;
}

.blog .card,
.services .card {
    margin: 0.3em auto;
}

.blog h3,
.services h3 {
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
}

.blog h4,
.services h4 {
    font-size: larger;
    font-weight: 600;
}

.blog h5,
.services h5 {
    font-size: medium;
    font-weight: 600;
}

.shop .gatsby-image-wrapper {
    width: 45% !important;
    margin: auto;
}

.blog details {
    margin-bottom: 3px;
    max-height: 250px;
    overflow: auto;
    border: 1px dotted #000;
    background-color: #dffaed;
    padding: 0 14px;
}

.blog details summary {
    font-weight: 600;
    font-variant: small-caps;
}

.blog details ol li {
    margin: 0.5em 0;
    line-height: 0.9em;
    font-size: smaller;
}

.post-title {
    height: 100%;
}

/**************************************/
/********* CHERRIES ON TOP ***********/
/************************************/

.checkers {
    background: repeating-linear-gradient(75deg, rgba(191, 212, 203, 0.2), rgb(136, 240, 191, 0.7) 3px, rgb(15, 124, 60) 3px);
}

.clearer {
    clear: both;
}

.bg-pink {
    background-color: #FF7D9D;
}

.bg-yellow {
    background-color: rgb(244, 181, 235);
}

.word-breakie {
    font-weight: 600;
    word-wrap: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.big-p {
    font-size: medium;
    font-weight: 600;
}

.pink {
    color: rgb(201, 19, 98);
}

.special-bg {
    background-color: rgb(219, 247, 241);
}

.small svg {
    font-size: 1.5rem;
}

.tab-content,
.nav-tabs {
    font-size: small;
}

.socialShare {
    margin-left: 0;
}

.socialShare button {
    margin: 14px 7px auto 0;
}

.content h2.hide,
.hidey,
.hidey-lg {
    display: none;
}

details summary {
    margin-bottom: 14px;
}

.footnote {
    margin: 0 auto;
    font-size: smaller;
}

.ascii pre {
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    overflow: hidden;
}

.accessibility-hide {
    display: none;
}

.capsies {
    font-variant: small-caps;
}

.yt-embed {
    aspect-ratio: 16/9;
    width: 100%;
}

.copy-r {
    font-size: x-small;
}

/**************************************/
/************* ANIMATIONS ************/
/************************************/

header,
main {
    animation-name: fade-in;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

.slide-bg {
    animation-name: branding-animation;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes fade-in {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes branding-animation {
    from {
        opacity: 0;
        background-color: #444;
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotate(0deg);
    }

    50% {
        background-color: rgb(179, 221, 201);
    }

    to {
        opacity: 1;
    }
}

/**************************************/
/************ RESPONSIVE *************/
/************************************/

@media screen and (min-width: 768px) {
    .branding h1 {
        font-size: 3rem;
    }

    .branding p {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .hidey {
        display: block;
    }

    .big-p {
        font-size: x-large;
    }

    .content h2 {
        margin-top: 0;
    }

    .blog .gatsby-resp-image-wrapper {
        max-width: 60% !important;
    }

    .services .article-title {
        width: 100%;
    }

    .lower-footer ul li {
        display: inline-block;
        text-align: left;
    }

    .blog h2.pzntrk,
    .services h2.pzntrk {
        font-size: xx-large;
    }

    .services h2.pzntrk {
        text-align: left;
    }
}

@media screen and (min-width: 992px) {
    header #responsive-navbar-nav {
        padding: 0;
        border: 0;
    }

    header .dropdown-menu {
        text-align: left;
    }

    .branding h1 {
        font-size: 6rem;
    }

    .hidey-lg {
        display: block;
    }

    .border-hidey {
        border-left: 1px solid #dee2e6;
    }

    .inverse-hidey {
        display: none;
    }

    .blog .post-title {
        min-width: 58%;
    }

    .blog h2.pzntrk {
        text-align: right;
    }

    .top-sm {
        text-align: right;
    }

    .blog .gatsby-resp-image-wrapper {
        max-width: 35% !important;
        transition: 1s;
    }

    .blog .gatsby-resp-image-wrapper:hover {
        max-width: 60% !important;
    }

    header #responsive-navbar-nav {
        position: relative;
        min-height: 0;
    }
}

/**************************************/
/************** THE END **************/