/**************************************/
/************* RESETS ****************/
/************************************/
* {
    overflow-anchor: none !important;
    scroll-snap-stop: normal !important;
    overscroll-behavior: unset !important;
    scroll-behavior: unset !important;
}

html {
    margin: 0;
    padding: 0;
}

/**************************************/
/******* MAIN HTML ELEMENTS **********/
/************************************/
body {
    background: white;
    font-family: monospace, sans-serif, arial;
}

h1, h2, h3, h4, h5 {
    font-family: unbounded;
}

main {
    padding-bottom: 5rem;
    background: repeating-linear-gradient(75deg, #fff, #efefef 3px, rgb(8, 131, 45) 3px);
}

section {
    clear: both;
}

header,
footer {
    font-family: unbounded;
}

a {
    color: rgb(17, 102, 62);
}

a:hover {
    color: #000000 !important;
}

/**************************************/
/*********** NAVBARS **************/
/************************************/
header, header .navbar {
    height: 12rem;
}

header #responsive-navbar-nav {
    background-color: #fff;
    padding: 1rem 1rem 3rem;
    border: 2px solid #ddd;
    border-top-width: 0;

}

header .nav-item {
    font-weight: 400;
    font-size: 1.2rem;
    font-variant: small-caps;
}

.hover-include .nav-item:hover {
    border-bottom: 1px dotted #000000;
}

.green a {
    color: rgb(17, 102, 62);
}

.green-bg {
    background: rgb(136, 240, 191, 0.3);
}

nav svg {
    font-size: 2.5rem;
}

.top-header {
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    background: #222;
    color: #aaa;
}

footer a {
    text-decoration: none;
}

footer ul {
    margin: 21px auto 0;
    padding-left: 0
}

footer ul li,
.linky ul li {
    display: block;
    list-style-type: none;
    margin-right: 7px;
}

.linky ul {
    font-size: 1.3rem;
}

.lower-footer a {
    color: aliceblue;
}

footer p {
    margin-right: 7px;
}

/**************************************/
/********* SITE BRANDING *************/
/************************************/
.welcome {
    overflow-wrap: break-word;
}

.pzntrk {
    font-weight: 900;
    letter-spacing: 0.8vw;
    text-transform: uppercase;
}

.branding {
    padding-top: 2rem;
}

.branding h1 {
    font-size: 4rem;
}

.branding h2 {
    font-size: medium;
    font-weight: 700;
    letter-spacing: 0.4vw;
    text-transform: uppercase;
}

.benefits-carousel {
    width: 80%;
    margin-bottom: 35px;
    font-family: unbounded;
    font-size: large;
}

.carousel .card {
    background-color: rgba(250, 250, 250, 0.1);
    border: none;
}

.carousel-indicators {
    display: none;
}


.carousel-control-next,
.carousel-control-prev {
    display: none;
}

/**************************************/
/******** MAIN CONTENT AREA **********/
/************************************/
.top-sm {
    width: 100%;
    text-align: center;
}

.services .optional {
    display: none;
}

.services .article-title {
    border-bottom: 1px solid #dee2e6;
    background: repeating-linear-gradient(75deg, rgba(191, 212, 203, 0.2), rgb(136, 240, 191, 0.7) 3px, rgb(15, 124, 60) 3px);
}

.content h2 {
    letter-spacing: normal;
    margin-top: 28px;
    margin-bottom: 14px;
}

.blog h2.pzntrk, .services h2.pzntrk {
    font-size: x-large;
    text-align: center;
}

.blog figcaption, .services figcaption {
    text-align: center;
    font-size: smaller;
    font-style: italic;
    font-weight: 600;
}

.blog, .services {
    letter-spacing: -0.04em;
}

.blog h3, .services h3 {
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
}

.blog h4, .services h4 {
    font-size: large;
    font-weight: 600;
}

.card .gatsby-image-wrapper {
    border-radius: 5px 5px 0 0;
}

.services-index .card {
    flex-direction: row;
}

.services-index .card:hover,
.blog-index .card:hover {
    background-color: rgba(7, 200, 109, 0.2);
}

.services-index .card-title,
.blog-index .card-title,
.hello .card-title {
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: -0.03em;
}

.post-title {
    height: 100%;
}

/**************************************/
/********* CHERRIES ON TOP ***********/
/************************************/

.clearer {
    clear: both;
}

.big-p {
    font-family: monospace;
    font-size: x-large;
}

.content .big-p {
    font-size: large;
    font-weight: 600;
}

.pink {
    color: rgb(229, 20, 112);
}

.special-bg {
    background-color: rgb(219, 247, 241);
}
.small svg {
    font-size: 1.5rem;
}

.tab-content {
    font-size: small;
}

.nav-tabs .nav-link {
    color: #15141A;
}

.socialShare {
    margin-left: 0;
}

.socialShare button {
    margin: 14px 7px auto 0;
}

.hidey, .hidey-lg {
    display: none;
}

details summary {
    margin-bottom: 14px;
}

.page404 {
    min-height: 100vh;
    padding: 10vh 7rem;
}

.about .card-title, .roadmap .card-title {
    letter-spacing: 0.2vw;
}

.roadmap .card {
    max-height: 600px;
    overflow: auto;
}

.article-image {
    margin: 21px auto;
    text-align: center;
    border: 1px dotted;
}

.article-image img  {
    max-width: 100%;
    margin: auto;
}

.footnote {
    margin: 0 auto;
    font-size: smaller;
}

.ascii pre {
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    overflow: hidden;
}

/**************************************/
/******** RESPONSIVE TRICKS **********/
/************************************/

@media screen and (min-width: 768px) {
    .branding {
        min-height: 40vh;
        padding: 1rem 3% 0;
        margin-bottom: 50px;
    }

    .branding h1 {
        font-size: 7rem;
    }

    .hidey {
        display: block;
    }

    .big-p {
        font-size: xx-large;
    }
    
    .content .big-p {
        font-size: x-large;
    }
    
    .content h2 {
        margin-top: 0;
    }

    .services-index .gatsby-image-wrapper {
        position: relative;
        float: left;
        width: 45%;
        height: 100%;
        border-radius: 0;
    }

    .intercalao:nth-child(odd) .gatsby-image-wrapper {
        float: left;
        margin-right: 1em;
        border-right: 1px dotted;
        vertical-align: middle;
    }

    .intercalao:nth-child(even) .gatsby-image-wrapper {
        float: right;
        margin-left: 1em;
        border-left: 1px dotted;
    }

    .services .article-title {
        float: left;
        width: 110px;
        border-bottom: 0;
        border-right: 1px solid #dee2e6;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .lower-footer ul li,
    .linky ul li {
        display: inline;
    }

    .article-image {
        width: 50%;
    }

    .blog h2.pzntrk, .services h2.pzntrk {
        font-size: xx-large;
    }

    .services h2.pzntrk {
        text-align: right;
    }

}

@media screen and (min-width: 992px) {
    header #responsive-navbar-nav {
        padding: 0;
        border: 0;
    }
    
    .branding {
        min-height: 60vh;
    }

    .benefits-carousel {
        float: left;
    }

    .hidey-lg {
        display: block;
    }

    .border-hidey {
        border-left: 1px solid #dee2e6;
    }

    .blog .post-title  {
        min-width: 58%;
    }

    .blog h2.pzntrk {
        text-align: right;
    }

    .top-sm {
        text-align: right;
    }
}

/**************************************/
/************** THE END **************/