/**************************************/
/************* RESETS ****************/
/************************************/
* {
    overflow-anchor: none !important;
    scroll-snap-stop: normal !important;
    overscroll-behavior: unset !important;
    scroll-behavior: unset !important;
}

html {
    margin: 0;
    padding: 0;
}

/**************************************/
/******* MAIN HTML ELEMENTS **********/
/************************************/
body {
    background: white;
    font-family: monospace, sans-serif, arial;
}

h1,
h2,
h3,
h4,
h5,
header,
footer {
    font-family: unbounded;
}

blockquote {
    margin: 7px 5%;
    font-style: italic;
    border-left: 3px solid #bbb;
    padding: 0 7px;
}

main {
    padding-bottom: 5rem;
    background: repeating-linear-gradient(75deg, #fff, #efefef 3px, rgb(8, 131, 45) 3px);
}

section {
    clear: both;
}

a {
    color: rgb(17, 102, 62);
}

a:hover {
    color: rgb(201, 19, 98) !important;
}

/**************************************/
/*********** NAVBARS **************/
/************************************/
header,
header .navbar {
    height: 10rem;
}

header #responsive-navbar-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    padding-top: calc(100vh/4);
    min-height: 100vh;
    width: 100%;
    text-align: center;
}

header .navbar-toggler {
    margin-right: 0.7em;
    border: 1px dotted #111;
    z-index: 2;
}

header .nav-item {
    font-weight: 400;
    font-size: 1.1rem;
    font-variant: small-caps;
}

.green a {
    color: rgb(17, 102, 62);
}

.green-bg {
    background: rgb(136, 240, 191, 0.3);
}

nav svg {
    font-size: 2.5rem;
}

footer {
    background: #111;
    color: #aaa;
    border-top: 1px dotted #fff;
}

footer a {
    text-decoration: none;
    color: #38b87c;
}

footer a:hover {
    color: #aaa !important;
}

footer ul {
    margin: 21px auto 0;
    padding-left: 0
}

footer ul li,
.linky ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 7px;
}

footer ul li {
    display: block;
}

.linky ul {
    font-size: 1.3rem;
}
benefits
.lower-footer {
    border-top: 1px dotted #fff;
    margin-top: 3em;
}

.lower-footer ul li {
    text-align: right;
}

footer p {
    margin-right: 7px;
}

/**************************************/
/********* SITE BRANDING *************/
/************************************/
.welcome {
    overflow-wrap: break-word;
}

.pzntrk {
    font-weight: 900;
    letter-spacing: 0.8vw;
    text-transform: uppercase;
}

.branding {
    padding: 5vh 2%;
}

.branding h1 {
    font-size: 3rem;
}

.branding h2 {
    font-size: medium;
    font-weight: 600;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
}

.benefits-carousel {
    margin: 0 auto 35px auto;
    font-size: large;
}

.benefits-carousel p {
    margin: 0.5em auto 0.5em 1em;
}

.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
    display: none;
}

/**************************************/
/******** MAIN CONTENT AREA **********/
/************************************/
.top-sm {
    width: 100%;
    text-align: center;
}

.services .optional {
    display: none;
}

.blog .navbar-brand{
    margin-right: 0;
}

.blog .nav-link{
    margin: auto 4px;
    font-size: small;
}

.services .article-title,
.blog .article-title h2,
.blog .article-title p {
    background: repeating-linear-gradient(75deg, rgba(191, 212, 203, 0.2), rgb(136, 240, 191, 0.7) 3px, rgb(15, 124, 60) 3px);
}

.services .article-title,
.blog .article-title {
    border-bottom: 1px solid #000;
}

.content h2 {
    letter-spacing: normal;
    margin-top: 28px;
    margin-bottom: 14px;
}

.blog h2.pzntrk,
.services h2.pzntrk {
    font-size: x-large;
    text-align: center;
}

.blog figcaption,
.services figcaption {
    text-align: center;
    font-size: smaller;
    font-style: italic;
    font-weight: 600;
}

.blog,
.services {
    letter-spacing: -0.04em;
}

.blog h3,
.services h3 {
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
}

.blog h4,
.services h4 {
    font-size: larger;
    font-weight: 600;
}

.blog h5,
.services h5 {
    font-size: medium;
    font-weight: 600;
}

.card {
    margin-bottom: 14px;
}

.card .gatsby-image-wrapper {
    border-radius: 5px 5px 0 0;
}

.shop .gatsby-image-wrapper,
.services-index img {
    width: 45% !important;
    margin: auto;
}

.blog .gatsby-resp-image-wrapper {
    max-width: 80% !important;
    margin: 21px auto 0;
    border: 1px dotted;
}

.services-index .card:hover,
.blog-index .card:hover {
    background-color: rgba(7, 200, 109, 0.2);
}

.services-index .card-title,
.blog-index .card-title,
.hello .card-title {
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: -0.03em;
}

.blog-index a,
.services-index a {
    color: #000;
}

.blog details {
    margin-bottom: 3px;
    max-height: 250px;
    overflow: auto;
    border: 1px dotted #000;
    background-color: #dffaed;
    padding: 0 14px;
}

.blog details summary {
    font-weight: 600;
    font-variant: small-caps;
}

.blog details ol li {
    margin: 0.5em 0;
    line-height: 0.9em;
    font-size: smaller;
}

.post-title {
    height: 100%;
}

/**************************************/
/********* CHERRIES ON TOP ***********/
/************************************/

.checkers {
    background: repeating-linear-gradient(75deg, rgba(191, 212, 203, 0.2), rgb(136, 240, 191, 0.7) 3px, rgb(15, 124, 60) 3px);
}

.clearer {
    clear: both;
}

.big-p {
    font-family: monospace;
    font-size: x-large;
}

.content .big-p {
    font-size: large;
    font-weight: 600;
}

.pink {
    color: rgb(201, 19, 98);
}

.special-bg {
    background-color: rgb(219, 247, 241);
}

.small svg {
    font-size: 1.5rem;
}

.tab-content {
    font-size: small;
}

.socialShare {
    margin-left: 0;
}

.socialShare button {
    margin: 14px 7px auto 0;
}

.hidey,
.hidey-lg {
    display: none;
}

details summary {
    margin-bottom: 14px;
}

.page404 {
    min-height: 100vh;
    padding: 10vh 7rem;
}

.about .card-title,
.roadmap .card-title {
    letter-spacing: 0.2vw;
}

.roadmap .card {
    max-height: 600px;
    overflow: auto;
    border-color: #000;
}

.roadmap .card,
.about .card {
    border-color: #000;
}

.footnote {
    margin: 0 auto;
    font-size: smaller;
}

.ascii pre {
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    overflow: hidden;
}

.accessibility-hide {
    display: none;
}

.capsies {
    font-variant: small-caps;
}

.yt-embed {
    aspect-ratio: 16 /9;
    width: 100%;
}

.carbon-badge, #wcb, #wcb_a, #wcb_p, #wcb_g, #wcb_2 {
    font-family: monospace !important;
    font-size: small;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #111 !important;
}

#wcb_a, #wcb_2 {
    display: none !important;
}

#wcb_g::before {
    content: "this page emits only";
    margin-right: 5px;
}

#wcb_g::after {
    content: ".";
    margin-right: 1px;
}

.copy-r {
    font-size: x-small;
}

/**************************************/
/************* ANIMATIONS ************/
/************************************/

header,
main {
    animation-name: fade-in;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

.green-bg {
    animation-name: branding-animation;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes fade-in {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes branding-animation {
    from {
        opacity: 0;
        background-color: #444;
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotate(0deg);
    }

    50% {
        background-color: rgb(179, 221, 201);
    }

    to {
        opacity: 1;
    }
}

/**************************************/
/************ RESPONSIVE *************/
/************************************/

@media screen and (min-width: 768px) {
    .branding {
        min-height: 45vh;
        padding: 1rem 3% 0;
        margin-bottom: 50px;
    }

    .branding h1 {
        font-size: 5rem;
    }

    .hidey {
        display: block;
    }

    .big-p {
        font-size: xx-large;
    }

    .content .big-p {
        font-size: x-large;
    }

    .content h2 {
        margin-top: 0;
    }

    .blog .gatsby-resp-image-wrapper {
        max-width: 60% !important;
    }

    .services .article-title {
        width: 100%;
    }

    .lower-footer ul li {
        display: inline-block;
        text-align: left;
    }

    .blog h2.pzntrk,
    .services h2.pzntrk {
        font-size: xx-large;
    }

    .services h2.pzntrk {
        text-align: left;
        margin-left: 10px;
    }

}

@media screen and (min-width: 992px) {
    header #responsive-navbar-nav {
        padding: 0;
        border: 0;
    }

    header .navbar {
        min-height: 15vh;
    }

    .branding {
        min-height: 70vh;
    }

    .branding h1 {
        font-size: 7rem;
    }

    .hidey-lg {
        display: block;
    }

    .border-hidey {
        border-left: 1px solid #dee2e6;
    }

    .blog .post-title {
        min-width: 58%;
    }

    .blog h2.pzntrk {
        text-align: right;
    }

    .top-sm {
        text-align: right;
    }

    .blog .gatsby-resp-image-wrapper {
        max-width: 35% !important;
        transition: 1s;
    }

    .blog .gatsby-resp-image-wrapper:hover {
        max-width: 60% !important;
    }

    header #responsive-navbar-nav {
        position: relative;
        min-height: 0;
    }
}

/**************************************/
/************** THE END **************/